[rich_text_shortcuts]
czoom="@camera zoom 1.25;@camera tilt -5"
czoom2="@camera zoom 1.25;@camera tilt 5"
creset="@camera zoom;@camera tilt"
cher="cherry;b;u"

; comments
[rich_text_colors]
cherry="#ff9053"
test=false
okay=true

[default_formats]
character_name="[{color};b][dim]｢[]{name}[dim]｣[][]"
